/* ------------------------ TABLE OF CONTENTS ------------------------ */
/*

- Typography
- Grid Values
- Sticky Footer Value
- Colors


*/
/* ------------------------ TYPOGRAPHY ------------------------ */
/* Here is where you set your font-families and your body font-size. The rest of the typography adjusts itself to this value based on the Golden Ratio.
This generates a base which is seated on the same baseline. In case you wan't to change individual H1-H6 etc. You have to do that in typography.less or
better yet - override the styles in another document. */
/* Font families */
/* Font sizes */
/* VARIABLES BASED ON THE GOLDEN RATIO */
/* Font colors */
/* Font weight */
/* Links */
/* ------------------------ COLORS ------------------------ */
/* ------------------------ GRID VALUES ------------------------ */
/* Media queries */
body {
  width: 100%;
  overflow-y: auto;
  min-height: 100%;
  margin: 0 auto; }

html {
  height: 100%;
  overflow: auto; }

*, *:before, *:after {
  box-sizing: border-box; }

/* ------------------------ MIXINS ------------------------ */
/* Calculates font size in rem and px  for browser compatability */
/* Sets h1 on baseline */
.eden-gallery-lightbox {
  text-align: center;
  overflow: auto; }
  .eden-gallery-lightbox .fullsize-image {
    width: 100%;
    height: 390px;
    margin-bottom: 26px;
    overflow: hidden; }
    .eden-gallery-lightbox .fullsize-image img {
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      cursor: pointer;
      transition: 0.5s ease all;
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); }
      .eden-gallery-lightbox .fullsize-image img:hover {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0.9; }
  .eden-gallery-lightbox .thumbnail {
    height: 78px;
    width: 78px;
    margin-right: 7px;
    display: inline-block;
    overflow: hidden; }
    .eden-gallery-lightbox .thumbnail img {
      border-radius: 50%;
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
      border: 1px solid transparent;
      transition: 0.2s ease all;
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); }
      .eden-gallery-lightbox .thumbnail img:hover {
        opacity: 0.9;
        border-color: black;
        -webkit-transform: scale(1.5);
                transform: scale(1.5); }
      .eden-gallery-lightbox .thumbnail img.selected-image {
        border-color: black; }
