/* ------------------------ TABLE OF CONTENTS ------------------------ */
/*

- Typography
- Grid Values
- Sticky Footer Value
- Colors


*/
/* ------------------------ TYPOGRAPHY ------------------------ */
/* Here is where you set your font-families and your body font-size. The rest of the typography adjusts itself to this value based on the Golden Ratio.
This generates a base which is seated on the same baseline. In case you wan't to change individual H1-H6 etc. You have to do that in typography.less or
better yet - override the styles in another document. */
/* Font families */
/* Font sizes */
/* VARIABLES BASED ON THE GOLDEN RATIO */
/* Font colors */
/* Font weight */
/* Links */
/* ------------------------ COLORS ------------------------ */
/* ------------------------ GRID VALUES ------------------------ */
/* Media queries */
body {
  width: 100%;
  overflow-y: auto;
  min-height: 100%;
  margin: 0 auto; }

html {
  height: 100%;
  overflow: auto; }

*, *:before, *:after {
  box-sizing: border-box; }

/* ------------------------ MIXINS ------------------------ */
/* Calculates font size in rem and px  for browser compatability */
/* Sets h1 on baseline */
.main-title {
  position: relative;
  text-align: center;
  padding: 104px;
  padding-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0; }

.description {
  font-style: italic;
  text-align: center;
  margin-top: 0;
  font-size: 25.888px;
  margin-bottom: 52px; }

.information {
  margin: 0 auto;
  max-width: 70%;
  *zoom: 1;
  border-top: 2px solid #333;
  margin-top: 26px;
  margin-bottom: 52px;
  padding-top: 26px; }
  .information:before, .information:after {
    content: "";
    display: table; }
  .information:after {
    clear: both; }
  .information h2 {
    text-transform: uppercase; }
  .information pre {
    -moz-tab-size: 3em;
         tab-size: 3em;
    background-color: #ededed;
    border: 1px solid #e6e6e6;
    padding: 13px;
    font-size: smaller; }

footer {
  display: none; }
