@import 'variables';
@import 'grid';
@import 'mixins';

.shop {
	@include clearfix();
	table.product-table {

		@include column(8);
		display: table;

		td:last-child, th:last-child {
			text-align: right;
		}

		.product-img {
			height: $line-height*3;
		}

		input.buy {
			padding:  round($line-height/8) round($line-height/4);
			border-radius: 5px;
			font-size: smaller;
			background-color: #e5554e;
			font-weight: 400;
			transition: .2s ease all;

			&:hover {
				background-color: darken(#e5554e, 20);
			}
		}
	}

	.shopping-cart {
		@include column(4);
		padding-left: $line-height;
		padding-right: 0;

		#cart {
			background-color: #fafafa;
			border: 1px solid #ddd;
			min-height: $line-height*3;
			padding: round($line-height/2);
		}
	}
}



fieldset {
	border: none;
}

.cform-columns-2 {
	@include clearfix();
	.cform-column-1, .cform-column-2 {
		@include column(6);
	}
	.cform-buttonbar {
		@include column(12);
		input {
			float: right;
		}
	}

	input, select {
		height: 2*$line-height;
		min-height: 2*$line-height;
		max-height: 2*$line-height;
		border-radius: 3px;
	}

	p {
		height: 3*$line-height;
	}

	.validation-message {
		position: relative;
		top: -$line-height;
		margin-bottom: -$line-height;

		li {
			color: red;
			font-weight: 600;
			font-size: smaller;
		}
	}
}

.success-payment, .error-payment, .info-payment {
	margin: $line-height;
	padding: round($line-height/4);
	display: block;
}

.error-payment {
	background-color: #E5B7C0;
	border: 1px solid darken(#E5B7C0, 15);
}


.success-payment {
	background-color: #B7E5C8;
	border: 1px solid darken(#B7E5C8, 15);
}

.loader {
	margin-left: $line-height;
	img {
		width: $line-height;
		margin-right: 10px;
		display: inline-block;
	}
}

.checkout-link {
	@include column(12);
	text-align: right;

	a, button {
		display: inline-block;
		padding: round($line-height/2);
		border-radius: 5px;
		color: #fff;
		font-size: smaller;
		background-color: #e5554e;
		font-weight: 400;
		transition: .2s ease all;
		text-transform: uppercase;
			&:hover {
				background-color: darken(#e5554e, 20);
				text-decoration: none;
			}
	}
	button {
		background-color: #aaa;
			&:hover {
				background-color: darken(#aaa, 20);
				text-decoration: none;
			}
	}
}


